* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: beige;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.header-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkslategray;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px;
    color: white;
}

.notLoggedInMsg {
    display: inline-block;
    padding: 5px;
    color: white;
}