spring:
  application:
    name: user-service
  redis:
    host: redis
    port: 6379
  session:
    store-type: redis
  jpa:
    show-sql: true
eureka:
  instance:
    preferIpAddress: true
  client:
    healthcheck:
      enabled: true
    serviceUrl:
      defaultZone: http://eureka:8761/eureka/
logging:
  level:
    org.springframework.security: debug
